<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint optio velit reprehenderit quod. Eos sequi dolor cumque iste est tempora ipsum quas aperiam debitis ad perspiciatis maiores omnis ipsam explicabo, at voluptates eaque placeat nobis provident rerum recusandae fuga. Obcaecati, repudiandae. Numquam facere consectetur excepturi quasi eaque, repellendus aspernatur impedit eos amet officia dolorem voluptatum et velit aperiam doloribus voluptas tenetur fuga nam autem. Accusamus vero perferendis minus, dolores sequi numquam fuga quisquam consectetur porro veritatis consequatur quaerat qui adipisci non recusandae quasi neque. Voluptatem enim porro tempora architecto aperiam nostrum deserunt pariatur fuga quia quod! Rem dicta labore quasi tempora sequi maxime necessitatibus, amet ipsum praesentium in sint fugiat id repellendus vero placeat veniam pariatur aperiam? Molestias, beatae aperiam fuga quaerat tempora omnis officia mollitia architecto eveniet. Nemo, reiciendis pariatur optio sit voluptate consequuntur deleniti illum in debitis aliquam officia quibusdam animi vel dolor ullam provident id nobis porro. Repellendus, aspernatur? Voluptatem sit, quasi incidunt error modi cumque quos eveniet nisi tenetur consequuntur nulla asperiores quo voluptatum est corporis, voluptas accusantium ut nesciunt architecto numquam tempora odit aut! Autem, ipsam nesciunt sequi aspernatur quidem ipsum sint, eius perferendis ad assumenda, dolore eum harum esse in repellendus enim deleniti. Quaerat.</p>
        </section>
    </main>

</body>
</html>